<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSAP website Design -Easy Way</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="action.js"></script>
    <link rel="icon" type="image/jpeg" href="pics/">

</head>

</head>

<body>
    <div class="body">
        <!-- Section header  -->
        <section class="header">
            <nav>
                <a href="index.html"><img src="pics/logo.jpeg"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="index.html">CATS</a></li>

                        <li><a href="blog.html"></a></li>
                        <li><a href="blog.html">ACTIVITY </a></li>
                        <li><a href="about.html">ABOUT US </a></li>
                        <li><a href="contacter.html">CONTACT US</a></li>



                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>

            <div class="text-box">
                <h6>Unleash Compassion: Find Your Furry Friend with Adoptify </h6>


                <!-- <p>When I became Chief Scout in 2009, <br>it was one of the proudest moments of my life. With every passing
                day since, I’ve become even more inspired by the dedication of our leaders and volunteers, who
                tirelessly prepare young people with skills for life. Together, we have grown our movement, given young
                people the voice they deserve and welcomed so many new communities to the Scouts. It’s all about
                delivering chances to young people where they are needed most. In 2019, my goal remains the same: to
                encourage and stand up for young people in all they do.
            </p> -->

            </div>
        </section>
        <!-- Form for donation  -->
        <div class="form-and-donate">
            <div>
                <form>
                    <div class="form-flex-row-img">
                        <div class="form-flex-column">
                            <div class="form-button-row">
                                <div class="form-group">
                                    <label for="catTypes">Pet Type</label>
                                    <select id="catTypes" onchange="filterCats(this.value)" class="form-control">
                                        <option>Cat Type</option>
                                        <option value="all">Ragdoll</option>
                                        <option value="ragdoll">Persian</option>
                                        <option value="siamese">Siamese</option>
                                        <option value="coon">Coon</option>
                                        <option value="sphynx">Sphynx</option>
                                        <option value="devon rex">Devon Rex</option>
                                        <option value="british shorthair">British Shorthair</option>
                                    </select>
                                    <section>
                                        <div class="cat-item" data-type="ragdoll">Ragdoll Cat</div>
                                        <div class="cat-item" data-type="persian">Persian Cat</div>
                                        <div class="cat-item" data-type="siamese">Siamese Cat</div>
                                        <div class="cat-item" data-type="coon">Coon Cat</div>
                                        <div class="cat-item" data-type="sphynx">Sphynx Cat</div>
                                        <div class="cat-item" data-type="devon rex">Devon Rex Cat</div>
                                        <div class="cat-item" data-type="british shorthair">British Shorthair Cat</div>
                                    </section>

                                    <section class="show" data-type="ragdoll">Ragdoll Cat Details
                                        <div>
                                            Lisa
                                            Pista
                                            Kabel
                                        </div>
                                    </section>
                                    <section class="show" data-type="persian">Persian Cat Details</section>
                                    <section class="show" data-type="siamese">Siamese Cat Details</section>
                                    <section class="show" data-type="coon">Coon Cat Details</section>
                                    <section class="show" data-type="sphynx">Sphynx Cat Details</section>
                                    <section class="show" data-type="devon rex">Devon Rex Cat Details</section>
                                    <section class="show" data-type="british shorthair">British Shorthair Cat Details
                                    </section>

                                </div>

                                <div class="form-group">
                                    <label>Location</label>
                                    <input type="email" class="form-control" placeholder="Town or Postcode">
                                </div>
                            </div>
                            <div class="form-submit-button">
                                <button type="button" class="btn btn-primary search-button">Search</button>
                            </div>
                        </div>
                        <div class="form-image">
                            <img src="pics/dog-cat.png" alt="dog-and-cat">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Our blog to learn how to adopt a cat and why -->
        <div class="card mb-3">
            <h2>Our Blog</h2>
            <img src="pics/adoptme.jpeg" class="card-img-top" alt="puppy">
            <div class="card-body">
                <a href="https://petcube.com/blog/puppy-guide/" target="_blank">
                    <h5 class="card-title"></h5>
                </a>
                <p class="card-text">
                    Getting ready to adopt a new puppy?
                    Read this guide how to raise a cat.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-bod">
                <a href="http://www.vetstreet.com/our-pet-experts/10-reasons-why-guinea-pigs-make-great-pets"
                    target="_blank">
                    <h5 class="card-title"> </h5>
                </a>
                <p class="card-text">
                    10 reasons to get a Cat.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 2 days ago</small>
                </p>
            </div>
            <img style="padding: 20px 20px;" src="pics/2024-05-01 (5)(1).png" class="card-img-top" alt="guinea-pigs">
        </div>
        <!-- section for activities -->
        <section class="activities">
            <div class="mb-3">
                <h2>Over 6 months</h1>
            </div>
            <p>
            <div class="row">
                <div class="activities-col">
                    <img src="pics/c4.jpg">
                    <h1>Pista</h1>


                </div>

                <div class="activities-col">
                    <img src="pics/c5.jpg">
                    <h1>Maze</h1>

                    <h3></h3>
                    <p></p>

                </div>
                <div class="activities-col">
                    <img src="pics/c2.jpg">
                    <h1>neda</h1>
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            <div class="activities-col">
                <!-- <button>More infos</button> -->
            </div>
        </section>



        <!-- section for cats and their ages -->
        <section class="activities">
            <div class="mb-3">
                <h2>Over 8 months</h2>
            </div>
            <div class="row">
                <div class="activities-col">
                    <img src="pics/c3.jpg">
                    <h1>ella</h1>
                    <p> </p>
                </div>
                <div class="activities-col">
                    <img src="pics/co.jpg">
                    <h1>peralle</h1>
                    <p> </p>
                </div>
                <div class="activities-col">
                    <img src="pics/cat1.jpg">
                    <h3></h3>
                </div>


            </div>
            <div class="activities-col">
                <!-- <button>More infos</button> -->
            </div>
        </section>

        <!-- activities -->
        <section class="activities">

            <p> </p>
            <div class="mb-3">
                <h2> > 4 months </h2>
            </div>
            <div class="row">

                <div class="activities-col">
                    <img src="pics/cd.jpg" alt="">
                    <h1>beaze</h1>

                </div>
                <div class="activities-col">
                    <img src="pics/cs.jpg" alt="">
                    <h1>katcha</h1>


                </div>

                <div class="activities-col">

                    <img src="pics/cdd.jpg" alt="">
                    <h1>allia</h1>

                </div>
            </div>
            <div class="activities-col">
                <!-- <button>More infos</button> -->
            </div>
        </section>



        <!-- footer -->
        <section class="footer">
            <div class="mb-3">
                <h2>À propos de nous</h2>
                <p></p>
                <div class="icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
            <p style="margin-left: 4%;">Made with <i class="">Love</i>
            </p>
        </section>


        <!-- JAvascript for Toggle Menu  -->
        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu() {
                navLinks.style.right = "0";

            }
            function hideMenu() {
                navLinks.style.right = "-200px";

            }
        </script>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
<html>